body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.header {
    background-color: #222;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.container {
    margin-top: 50px;
    max-width: 100%; /* Ensures container doesn't exceed viewport width */
    overflow-x: hidden; /* Hides horizontal scrollbar */
}

.container ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center the items horizontally */
}

.container li {
    text-align: center;
    margin: 10px;
    display: inline-block; /* Display list items horizontally */
}

.container li img {
    max-width: 150px; /* Adjust image width as needed */
    height: auto;
}
